.home__wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("dirrt.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
}

.myTitle {
  opacity: 0.2;
  transition: opacity 3s;
  position: relative;
}

.myTitle:hover {
  opacity: 1;
}

.home__titles {
  display: inline-block;
  animation-name: nameMove;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: relative;
  animation-delay: 1s;
  left: -300px;
}

.myName {
  color: red;
}

@keyframes nameMove {
  from {
    color: red;
    left: -300px;
  }
  to {
    color: greenyellow;
    left: 48%;
  }
}
