@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
.home__wrapper {
  border: black 1px solid;
  margin: 40px;
  height: 100vh;
  background: black;
}

.homepage__text {
  color: yellow;
  text-align: center;
  padding: 400px 0;
  font-family: "Bangers", cursive;
  grid-column: 2/3;
}

.homepage__text > h2 {
  font-size: 40px;
}

.splat {
  width: 25%;
  position: relative;
  top: -800px;
  left: 10%;
}

.bang {
  width: 25%;
  position: relative;
  left: 40%;
  top: -800px;
}
