.heading {
  text-align: center;
}

/* NAV/ROUTER STYLINGS */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: orchid;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  min-width: 40%;
}

/* GRID STYLINGS */
.mosaicWrapper {
  margin: 3em;
  display: grid;
  grid-gap: 0.5em;
  /*set min and max height of rows*/
  grid-auto-rows: minmax(200, 200);
}
.mosaicWrapper div {
  background-color: #eee;
}

.mosaicWrapper div:nth-child(odd) {
  background-color: #ddd;
}

img {
  width: 100%;
  height: 100%;
}

box {
  padding: 0;
}

.box1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.box2 {
  grid-column: 3/4;
  grid-row: 1/4;
}
.box3 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.box4 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.box5 {
  grid-column: 1/2;
  grid-row: 3/5;
}
.box6 {
  grid-column: 2/3;
  grid-row: 3/5;
}
.box7 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.box8 {
  grid-column: 4/5;
  grid-row: 3/5;
}

/* Homepage animation */
.myName {
  color: red;
  display: inline-block;
  animation-name: nameMove;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: relative;
  animation-delay: 1s;
  left: -300px;
}

@keyframes nameMove {
  from {
    color: red;
    left: -300px;
  }
  to {
    color: greenyellow;
    left: 400px;
  }
}

.myTitle {
  opacity: 0.2;
  transition: opacity 3s;
}

.myTitle:hover {
  opacity: 1;
}
